/* Cabecera Página */
.jumbotron {
    position: relative;
    background:none;
    margin-bottom: 5px;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #152f5a;
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(78, 109, 122, 0.4) 12%,rgba(134, 106, 59, 0.144) 30%), 
    -webkit-linear-gradient(bottom, rgba(63, 23, 128, 0.25) 0%,rgba(57, 94, 148, 0.404) 100%), 
    -webkit-linear-gradient(-45deg, #670d10 9%,#152f5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    width: 100%;
    height: 85%;
    opacity :1.1;
    z-index: -1;
}

/* Logo Mineduc */
#logo-mineduc{
    width: 35%;
    margin-left: 60px;
}

/* Logo FUAS */
#logo-fuas {
    font-weight: 100;
    font-family: fantasy;
    font-size: 95px;
    margin-left: -20px;
}
#eslogan-fuas {
    font-family: Malgun Gothic;
    text-align: inherit;
    font-weight: 600;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 60px;
    color: rgb(254, 253, 255);
}

/* Barra de Menú */
div #back-barra-nav.row #barra-nav {
    margin-bottom: 0px;
    height: 15px;
}
#items-nav {    
    margin-bottom: 40px;
    font-size: 20px;
}

/* Formulario de Postulación */
#text-indicaciones {
    padding: 30px;
}

/* Validación de Formulario */
div#f-body {
    background-color: #1f1f1f93;
    margin: 30px auto;
    width: 1100px;
    border: 2px solid #000000d2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }



/* Footer */
#pie-footer {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: absolute;
}
.titulo-footer {
    color: #fff;
    text-align: center;
    padding: 0px;
    position: relative;
    top: 13px;
}