/* Cabecera Página */
.jumbotron {
    position: relative;
    background:none;
    margin-bottom: 5px;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #152f5a;
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(78, 109, 122, 0.4) 12%,rgba(134, 106, 59, 0.144) 30%), 
    -webkit-linear-gradient(bottom, rgba(63, 23, 128, 0.25) 0%,rgba(57, 94, 148, 0.404) 100%), 
    -webkit-linear-gradient(-45deg, #670d10 9%,#152f5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    width: 100%;
    height: 85%;
    opacity :1.1;
    z-index: -1;
}

/* Logo Mineduc */
#logo-mineduc{
    width: 35%;
    margin-left: 60px;
}

/* Logo FUAS */
#logo-fuas {
    font-weight: 100;
    font-family: fantasy;
    font-size: 95px;
    margin-left: -20px;
}
#eslogan-fuas {
    font-family: Malgun Gothic;
    text-align: inherit;
    font-weight: 600;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 60px;
    color: rgb(254, 253, 255);
}

/* Barra de Menú */
div #back-barra-nav.row #barra-nav {
    margin-bottom: 0px;
    height: 15px;
}
#items-nav {    
    margin-bottom: 40px;
    font-size: 20px;
}

/* Contenido */
#back-contenido {
    /* background: linear-gradient(to bottom, rgba(46, 72, 121, 0.459), rgba(111, 51, 129, 0.473), rgba(96, 136, 151, 0.418)), url(https://i.pinimg.com/236x/94/70/4f/94704fc21042217f30b0df3f0d5673a7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: linear-gradient(to right, #0e3d6481, rgba(151, 126, 126, 0.808), rgba(156, 38, 44, 0.534));  
    color: white;
    padding: 30px;
}

#back-titulo_inicial {
    padding: 60px;
}
h2#titulo-inicial {
    
}

/* Información sobre el FUAS */
#desc-fuas {
    font-family: Malgun Gothic;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 0;
    padding: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
/* Info Becas */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

#tabla-info {
    font-family: Malgun Gothic;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0;
    padding: 20px;
}

/* Consulta por el valor de UF */
#consulta-uf {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    padding: 20px;
}


/* Footer */
#pie-footer {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: absolute;
}
.titulo-footer {
    color: #fff;
    text-align: center;
    padding: 0px;
    position: relative;
    top: 13px;
}